html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  display: grid;
  align-self: center;
  font-family: "Lato", sans-serif;
  background-image: url("https://images6.alphacoders.com/410/410047.jpg");
  background-size: cover;
  margin: auto;
  font-size: xx-large;
  max-width: 1500px;
  color: black;
}